version: "3"
services:
  reverseproxy:
     build:
      context: ./reverseproxy
      dockerfile: Dockerfile
    image: mkenlo/udagram-reverseproxy
    ports:
      - 8080:8080
    restart: always
    depends_on:
      - backend-user
      - backend-feed
  backend-user:
    build:
      context: ./ms-backend-user
      dockerfile: Dockerfile
    container_name: udagram-ms-user
    image: mkenlo/udagram-ms-user
    environment:
      POSTGRESS_USERNAME: $POSTGRESS_USERNAME
      POSTGRESS_PASSWORD: $POSTGRESS_PASSWORD
      POSTGRESS_DB: $POSTGRESS_DB
      POSTGRESS_HOST: $POSTGRESS_HOST
      AWS_REGION: $AWS_REGION
      AWS_PROFILE: $AWS_PROFILE
      AWS_BUCKET: $AWS_BUCKET
      JWT_SECRET: $JWT_SECRET
      URL: "http://localhost:8100"
  backend-feed:
    build:
      context: ./ms-backend-feed
      dockerfile: Dockerfile
    container_name: udagram-ms-feed
    image: mkenlo/udagram-ms-feed
    volumes:
      - $HOME/.aws:/root/.aws
    environment:
      POSTGRESS_USERNAME: $POSTGRESS_USERNAME
      POSTGRESS_PASSWORD: $POSTGRESS_PASSWORD
      POSTGRESS_DB: $POSTGRESS_DB
      POSTGRESS_HOST: $POSTGRESS_HOST
      AWS_REGION: $AWS_REGION
      AWS_PROFILE: $AWS_PROFILE
      AWS_BUCKET: $AWS_BUCKET
      JWT_SECRET: $JWT_SECRET
      URL: "http://localhost:8100"
  frontend:
    build:
      context: ./ms-frontend
      dockerfile: Dockerfile
    container_name: udagram-frontend
    image: mkenlo/udagram-frontend
    ports:
      - "8100:80"
